# виртуальное окружение
.venv-sprint4/

# Python cache
__pycache__/
*.pyc
*.pyo

# media файлы
media/
sent_emails/   # если нужно тестам, оставляем .gitkeep

# база данных
blogicum/db.sqlite3

# IDE
.vscode/
.idea/
