# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3
local_settings.py

# IDE
.idea/
.vscode/

# Media & ZIP
media/
django-sprint4.zip

# E-mails
sent_emails/